################################################################################
[MonitorCoins]
#True = monitor,False = not monitor
moniRVN = True
moniETH = False
moniETC = False

#define diff for notify send message to line
[targetDifficult]
tarDiffRVN = 12000
tarDiffETH = 3522206773042161
tarDiffETC = 206456480047318

#Line Token
[TOKEN]
Acc_TOKEN = 0jySON3X6UMpQ1ADWuluGgClzbdhmrNohmnHj42CTzm

[looptime]
timescan = 1800
#1800 sec = 30 min

